<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <img src="https://lh3.googleusercontent.com/tjVRSFJSU0HVZpiF2HInO_aCweBgEbArtkTRZfG0CUPx3pqivMEQ4B6szWyIPfUdhcwJYPiuuv8WAumXjBey=w1366-h630" alt="cantik">
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>Hobby: reading fiction books</article>
    <article>Description: i don't even know, an epitome of trash?</article>
</body>
</html>
